h1 {
    margin: 0;
}

.blog-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.post {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 100%;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.post h2 {
    font-size: 24px;
    margin-top: 0;
}

.post p {
    font-size: 16px;
}

.post .date {
    font-size: 14px;
    color: #888;
}
.post-section{
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-bottom: 20px;
    padding: 20px;

    
}