
.card-section-item{
    width: 600px;
    height: 400px;
    border-radius: 10px;
    transition: 0.5s;
     display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 24px;
    padding: 10px;
    margin: 10px;
    flex-wrap: wrap;
    overflow: hidden;
    position: relative;
    margin-top: 30px;
    z-index: 1;
}
.product-card-section-item{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    padding: 10px;
    margin: 10px;
    justify-content: center;
    align-items: center;
}
.product-card-item-p{
    position: relative;
    width: 320px;
    height: 420px;
    background: #ffffff;
    border-radius: 20px;
    overflow: hidden;
    border: 2px solid #2196f3;
    display: flex;
    justify-content: center;
    align-items: center;  
    flex-direction: column;  
}
.card-item-img-p{
    position: relative;
   

}
.card-item-img-p img{
    width: 250px;
    height: 250px;
    transition: 0.5s;
    border-radius: 10px;
    text-align: center;
}
.card-item-content-p{
    position: relative;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1;
}
.card-item-content-p h3{
    font-size: 24px;
    color: #000000;
    text-align: center;
}
.card-item-content-price{
    font-size: 18px;
    color: #000000;
    text-align: center;
    margin-top: 5px;

}
.card-item-content-price p{
    font-size: 18px;
    color: #000000;
    text-align: center;
}
.card-item-content-p a{
    font-size: 18px;
    color: #000000;
    text-align: center;
    margin-top: 20px;
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 30px;
    background-color: #28f321;
}
.product-card-item{
    position: relative;
	width: 320px;
	height: 420px;
	background: #ffffff;
	border-radius: 20px;
	overflow: hidden;
    border: 2px solid #2196f3;
}
.product-card-item:hover{
    border: 2px solid #ffffff;
    box-shadow: 0 0 10px #2196f3;
}
.card-img-item{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 20px;
    z-index: 1;
}
.card-img-item img{
    max-width: 100%;
    transition: 0.5s;
    border-radius: 10px;
}
.product-card-content-item{
    position: relative;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1;
}
.product-card-content-item h3{
    font-size: 24px;
    color: #000000;
    text-align: center;
}
.product-card-content-item p{
    font-size: 18px;
    color: #000000;
    text-align: center;
}
.card-btn-item{
    position: relative;
    margin-top: 20px;
    padding: 10px 30px;
    text-decoration: none;
    color: #000000;
    border-radius: 30px;
    background-color: #2196f3;
}
.bottom_btn:hover{
    top : 0;
    opacity: 1;
    color: red;
}

/* diet chart*/
.diet-section{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition: 0.5s;
   display: grid;
    grid-template-columns: repeat(4, 1fr);
    
    gap: 24px;
    padding:20px 40px;
    margin: 10px;
    overflow: hidden;

    position: relative;

    z-index: 1;
}
.diet-section .diet-card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 24px;
    padding: 10px;
    text-align: center;
    background: #44f321;
    border-radius: 20px;
    overflow: hidden;
    border: 2px solid #2196f3;

}
.diet-section .diet-card:hover{
    border: 2px solid #ffffff;
    box-shadow: 0 0 10px #2196f3;
}
.diet-section .diet-card .diet-card-img{
    position: relative;
    width: 100%;
    padding-top: 20px;
    z-index: 1;
}
.diet-section .diet-card .diet-card-img img{
    width: 250px;
    height: 250px;
    transition: 0.5s;
    border-radius: 10px;
}
.diet-section .diet-card-body{
    position: relative;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1;
}
.diet-section .diet-card-body h1{
    font-size: 24px;
    color: #000000;
    text-align: center;
}
.diet-section .diet-card-body p{
    font-size: 18px;
    color: #000000;
    text-align: center;
}
.diet-section .diet-card-btn{
    position: relative;
    margin-top: 20px;
    padding: 10px 30px;
    text-decoration: none;
    color: #000000;
    border-radius: 30px;
    background-color: #ff0606;
    font-size: 20px;
    font-weight: 600;
}
.diet-section .diet-card-btn:hover{
    top : 0;
    opacity: 1;
    color: rgb(253, 253, 253);
    background: #2196f3;
}
/* diet details */
.diet-details{
    width: 100%;
    height: 100%;
    margin-top: 80px;
}
.diet-details-card{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
}
.diet-details-content{
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.diet-details-content h1{
    
    color: #062400;
    
    font-weight: 600;
}
.diet-details-content p{
    font-size: 18px;
    color: #000000;
}
.diet-details-img{
   
}
.diet-details-img img{
    width: 350px;
    height: 350px;
    border-radius: 10px;
}
.doctor-section{
    width: 100%;
    height: 100%;
   
    padding:20px 40px;
    margin: 10px;
    overflow: hidden;

    position: relative;

    z-index: 1;
}
.divider{
    width: 100%;
    height: 1px;
    background-color: rgb(8, 65, 17);
    margin: 20px 0;
}
.doctor-card{
}
.doctor-card-item{
    display: flex  ;
    flex-direction: row;
    gap: 24px;
    padding: 10px;
    justify-content: center;
    align-items: center;
}
.doctor-card-img{

}
.doctor-card-img img{
    width: 350px;
    height: 350px;
    border-radius: 10px;
}
.doctor-card-content{
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 5px;
}
.doctor-card-content h1{
    font-weight: 600;
    color: #000000;
}
.doctor-card-content p{
    font-size: 18px;
    color: #000000;
}
.review-form{
     width: 100%;
     height: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     background: #15f301;
     padding: 20px 20px;
}
.review-form form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
    gap: 10px;
    width: 450px;
    padding: 10px 10px;
}
.review-form form input{
    width: 100%;
    height: 44px;
    border: 2px solid #135a05;
    padding: 10px;
}
.review-form form textarea{
    width: 100%;
    height: 50px;
    border: 2px solid #135a05;
    padding: 10px;
}
.review-form form .review-btn{
    background: #ff0606;
    color: white;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
}
.review-card{
    width: 100%;
    height: 100%;
    padding: 20px 40px;
    margin: 10px;
    overflow: hidden;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.review-card-content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}
.review-card-text{
    background: #dddddd;
    gap: 25px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    overflow: hidden;
    border: 2px solid #64f321;
    
}
.review-card-text h1{
    font-size: 24px;
    color: #000000;
    text-align: center;
}
.review-card-text p{
    font-size: 18px;
    color: #000000;
    text-align: center;
}
.cart-section{
    width: 100%;
    height: 100%;
    padding: 20px 40px;
    margin: 10px;
    overflow: hidden;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
}
.cart-section-item{
    width: 100%;
}
.cart-section-item table{
    width: 100%;
    border-collapse: collapse;

}
.cart-section-item table th{
    background: #089603;
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    padding: 10px;
}
.cart-section-item table thead th{
    padding: 10px;
    text-align: center;
}
.cart-section-item table tbody tr td{
    padding: 10px;
    text-align: center;
    border: 1px solid #5cf503;
}
.cart-img{
    width: 100px;
    height: 60px;
    border-radius: 10px;
}