*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background: #f5f5f5;
}
.body{
   
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
	width: 100%;
	height: 100%;
	background: #f5f5f5;
	position: relative;

}
.header{
    width: 100%;
    height: 50px;
    background-color: #0d8d17;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;


    

}
.logo-section{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 0 20px;
}
.logo-section h3{
	color: #fff;
	font-size: 20px;
}
.header-logo {
    width: 50px;
    height: 40px;
    padding: 5px;
    
}
.header-nav{
    margin-right: 50px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.dropdown{
	position: relative;
	text-align: center;
	margin-left: 5px;
	margin-top: ;
}
.dropdown i{
	font-size: 20px;
	color: #fff;
	cursor: pointer;
}
.dropdown-content{
	position: absolute;
	top: 100%;
	left: 0;
	background: #068811;
	width: 100px;
	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	row-gap: 10px;
	padding: 10px 10px;
	
}
.dropdown-content a{
	color: #fff;
	font-size: 16px;
	text-decoration: none;
	
	width: 100px;
	text-align: center;
	
}

.dropdown:hover .dropdown-content{
	display: flex;
}
.header-nav a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    padding: 0 10px;
}
.header-nav a:hover{
    color: rgb(255, 81, 1);
}
/* header end */
.footer{
    height: 200px;
    width: 100%;
    background: #068811;
    padding: 60px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
	position: relative;
	bottom: 0;
	left: 0;
	margin-top: 60px;
	  
}
.social-icon,.menu{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}
.social-icon li,.menu li{
    margin: 0 10px;
}
.social-icon li a{
    color: #fff;
    font-size: 2em;
    display: inline-block;
    transition: 0.5s;
}
.social-icon li a:hover{
    transform: translateY(-10px);
    color: rgb(0, 0, 0);
}
.menu li a{
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    opacity: 0.75;
}
.menu li a:hover{
    opacity: 1;
    color: rgb(241, 112, 7);
}
.footer-p{
    margin-top: 15px;
    font-size: 12px
}
.footer-p a{
    color: #4d0202;
    text-decoration: none;
    font-size: 12px;
    
}
/* footer-end */
.slider{
	position: relative;
	width: 100%;
	background: #2c3e50; /* darckblue */
}
.myslide{
	height: 655px;
	display: none;
	overflow: hidden;
}

.prev, .next{
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	font-size: 50px;
	padding: 15px;
	cursor: pointer;
	color: #fff;
	
	transition: 1.5s;
	user-select: none;
}
.prev:hover, .next:hover{
	color: #00a7ff; /* blue */
}
.next{
	right: 0;
}
.dotsbox{
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	bottom: 20px;
	cursor: pointer;
}
.dot{
	display: inline-block;
	width: 15px;
	height: 15px;
	border: 3px solid #fff;
	border-radius: 50%;
	margin: 0 10px;
	cursor: pointer;
}
/* /2 */

/* javascript */
.active, .dot:hover{
	border-color: #00a7ff; /* blue */
}
/* /javascript */

/* muslide add fade */
.fade {
  /* -webkit-animation-name: fade; */
  -webkit-animation-duration: 1.5s;
  /* animation-name: fade; */
  animation-duration: 1.5s;
}

/* @-webkit-keyframes fade {
  from {opacity: 0.8}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: 0.8}
  to {opacity: 1}
} */
/* /muslide add fade */

/* 3 */
.txt{
	position: absolute;
	color: #fff;
	letter-spacing: 2px;
	line-height: 35px;
	top: 40%;
	left: 15%;
	-webkit-animation-name: posi;
  	-webkit-animation-duration: 2s;
  	animation-name: posi;
  	animation-duration: 2s;
	z-index: 1;
}

@-webkit-keyframes posi {
  from {left: 25%;}
  to {left: 15%;}
}


@keyframes posi {
  from {left: 25%;}
  to {left: 15%;}
}

.txt h1{
	color: #00a7ff; /* blue */
	font-size: 50px;
	margin-bottom: 20px;
}
.txt p{
	color: #000;
	font-weight: bold;
	font-size: 20px;
}
/* /3 */

/* 4 */
/* img{
	transform: scale(1.2, 1.2);
	-webkit-animation-name: zoomin;
  	-webkit-animation-duration: 10s;
  	animation-name: zoomin;
  	animation-duration: 10s;
} */
.slider-img{
	transform: scale(1.2, 1.2);
	-webkit-animation-name: zoomin;
  	-webkit-animation-duration: 10s;
  	animation-name: zoomin;
  	animation-duration: 10s;
}
@-webkit-keyframes zoomin {
  from {transform: scale(1, 1);}
  to {transform: scale(1.2, 1.2);}
}


@keyframes zoomin {
  from {transform: scale(1, 1);}
  to {transform: scale(1.2, 1.2);}
}
/* /4 */



/* 5 */
@media screen and (max-width: 800px){
	.myslide{
		height: 500px;
	}
	.txt{
		letter-spacing: 2px;
		line-height: 25px;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		-webkit-animation-name: posi2;
		-webkit-animation-duration: 2s;
		animation-name: posi2;
		animation-duration: 2s;
	}

	@-webkit-keyframes posi2 {
	  from {top: 35%;}
	  to {top: 50%;}
	}


	@keyframes posi2 {
	  from {top: 35%;}
	  to {top: 50%;}
	}

	.txt h1{
		font-size: 40px;
	}
	.txt p{
		font-size: 13px;
	}

}
/* /5 */

/* 6 */
@media screen and (max-width: 520px){
	.txt h1{
		font-size: 30px;
		margin-bottom: 20px;
	}
	.sign{
		margin-right: 20px;
	}
	.sign a{
		font-size: 12px;
	}
}
/* /6 */

/* slider end */


.service{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 50px 0;
}
.service-heading{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-bottom: 50px;

}
.service-heading h1{
	font-size: 40px;
	font-weight: 600;
	color: #068811;
}
.service-heading p{
	font-size: 20px;
	color: #000;
}
.card{
	position: relative;
	width: 320px;
	height: 420px;
	background: #122936;
	border-radius: 20px;
	overflow: hidden;
}
.card::before{
	content: '';
	position: absolute;
	top: -50%;
	width: 100%;
	height: 100%;
	background: #2196f3;
	transform: skewY(345deg);
	transition: 0.5s;

}
.card:hover::before{
	transform: skewY(390deg);
	top: -70%;
}
.card::after{
	content: 'Nusrat';
	position: absolute;
	bottom: 0;
	left: 0;
	font-weight: 600;
	font-size: 6em;
	color: rgba(0,0,0,0.1);

}
.cardimg{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	padding-top: 20px;
	z-index: 1;
}
.cardimg img{
	width: 200px;
	height: 200px;
	transition: 0.5s;
}
/* .card:hover img{
	transform: scale(1.2);
} */
.card-content{
	position: relative;
	display: flex;
	margin-top: 15px;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	z-index: 1;
}
.card-content h3{
	font-size: 24px;
	color: #fff;
	font-weight: 500;
	text-transform: uppercase;
}
.description{
	font-size: 18px;
	color: #fff;
	text-align: center;
}
.card-btn{
	position: relative;
	margin-top: 20px;
	padding: 10px 30px;
	text-decoration: none;
	color: #fff;
	border-radius: 30px;
	background-color: #2196f3;
}
.card-btn:hover{
	top : 0;
	opacity: 1;
}
.card-section{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	flex-direction: row;
	gap: 24px;
}

/* service end */
.d-flex{
	display: flex;
	justify-content: center;
	align-items: center;
}
.d-flex input{
	width: 200px;
	height: 25px;
	border-radius: 30px;
	border: none;
	padding: 0 20px;
	font-size: 16px;

}
.d-flex button{
	width: 100px;
	height: 25px;
	border-radius: 30px;
	border: none;
	background-color: #f30b0b;
	color: #ffffff;
	font-size: 16px;

	margin-left: 10px;
	cursor: pointer;
}